{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true;",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "RealTimeFeedUrl": "https://s3.amazonaws.com/kcm-alerts-realtime-prod/vehiclepositions_enhanced.json",
        "LogicAppUrl": "",
        "AzureSQLConnectionString": "mssql://af-user:@.database.windows.net/bus_db?encrypt=true"            
    }
}