{
    "IsEncrypted": false,
    "Values": {
      "AzureWebJobsStorage": "UseDevelopmentStorage=true;",
      "FUNCTIONS_WORKER_RUNTIME": "dotnet",
      "AzureSQLConnectionString": "Server=.database.windows.net,1433;Database=bus_db;UID=af-user;PWD=;Connection Timeout=30;"
    }
  }